body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #91c7b1;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    height: 100vh;
}

.headshot {
    max-height: 400px;
    height: auto;
    display: inline-block;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background-color: var(--bs-body-bg);
    border-radius: 20px;
    padding: 2rem;
    gap: 2rem;
}

.accordion {
    width: 500px;
}

a {
    color: green;
    font-weight: 700;
    text-decoration: none;
}

p {
    font-family: Georgia;
}

.card-group {
    gap: 1rem !important;
    width: 100%;
    height: 100%;
    max-width: 1200px;
}
.card {
    border: 0;
    height: 1px;
}
.card-body {
    background-color: #f1f7ed;
    border-radius: 0 0 0.5rem 0.5rem;
}