:root {
    --box-shadow-color: rgba(0, 0, 0, 0.4);
}

html[data-bs-theme='dark'] {
    --box-shadow-color: #5b60a7;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projects {
    height: 100%;
    background-image: url('./assets/backgrounds/Glacier\ National\ Park.jpg');
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

.project-card {
    transition: box-shadow 0.3s, transform 0.3s;
    user-select: none;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.project-card:hover {
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
    transform: translateY(-4px);
    cursor: pointer;
}

.moon-icon {
    fill: #5b60a7;
    transition: filter 0.3s ease;
}

.moon-icon:hover {
    filter: drop-shadow(0 0 10px #5b60a7); /* blue glow */
}

.sun-icon {
    fill: #ff7b00;
    transition: filter 0.3s ease;
}

.sun-icon:hover {
    filter: drop-shadow(0 0 10px #ff7b00); /* reddish-orange glow */
}