.scrollable {
    flex-grow: 1;
    padding-right: 10px;
    overflow-y: hidden;
    transition: overflow 0.15s ease-in-out;
  }

  .scrollable::-webkit-scrollbar {
    width: 6px;
    padding-bottom: var(--padding-md);
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  .scrollable::-webkit-scrollbar-track {
    background: transparent;
  }

  .ready {
    overflow-y: auto;
  }